<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-title>
      <audio src="#" controls></audio>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="div">
      <ion-grid id="grid">
          <ion-row>
            <ion-col>
                <ion-button color="danger">Haoussa</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="success">Zarma</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-button color="warning">Français</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="primary">Forum</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>      
  </div>
</ion-content>
